/* -----------------------------------DASHBOARD----------------------------------- */

.dashboard{
    display: flex;    
    flex-direction: row;
    flex-grow:1;
    height: auto;
    background-color: #1e2130;
    color: white;
    padding: 2rem;
    overflow:hidden;
    margin: 0;
    justify-content: center;
}

.dashboard h1{
    opacity: 0.8;
    margin:0 0 0.5rem 0;
    font-size: 1.5rem;
}

.dashboard h2{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .8px;
    margin:0;
}

.dashboard-date-format-month{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin:0;
}

.dashboard-date-format-year{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
} 



/* -----------------------------------LEFT SECTION----------------------------------- */

.dashboard-left-side{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5rem;
    height: auto;
}

/* --------------------YEAR AND MONTH-------------------- */

.dashboard-date-input{
    margin:0;
    padding:2rem;
    display:flex;
    flex-direction: column;
    align-items: left;
    width: auto;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
}

.dashboard--input .Select-control {
    color: #c7c7c7;
    background-color: #1e2130 !important;
    border: 1px rgba(43, 47, 66, 0.8) solid !important;
    width: 10rem !important;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

/* Styling for the placeholder and the value when not selected */
.dashboard--input .Select-placeholder,
.dashboard--input .Select-value,
.dashboard--input .Select-input {
    color: #c7c7c7 !important;
}

/* Styling for text when an option is selected */
.dashboard--input .Select-value-label,
.dashboard--input .Select-control .Select-value,
.dashboard--input .Select-single > .Select-control .Select-value {
    color: #c7c7c7 !important;
}

/* Ensure the dropdown menu matches the styling */
.dashboard--input .Select-menu-outer {
    background-color: #1e2130;
    color: #c7c7c7 !important;
}

/* --------------------NET BALANCE-------------------- */

.dashboard-net-balance{
    margin:0;
    padding:2rem;
    display:flex;
    flex-direction: column;
    align-items: left;
    width: auto;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
}

.dashboard-outputBox{
    /* background-color: rgba(255, 255, 255, .05); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    color: #f8d44c;
    height: auto;
    margin:0;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

/* --------------------CATEGORIZATION-------------------- */

.dashboard-categorization{
    /* background-color: #151a28; */
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    margin:0;
}

#expense_categorization_graph{
    height: 15rem;
    width: 100%;
}

/* -----------------------------------RIGHT SECTION----------------------------------- */

.dashboard-right-side{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: gray; */
    height: auto;
}

/* --------------------TOP-------------------- */

.dashboard-right-top{ /* consists of the daily spending trend and budge v actual */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.daily-spending-trend{
    padding: 2rem;
    flex: 1;
    margin-right: 1.5rem;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height:auto;
}

.budget-vs-actual-spending{
    padding: 2rem;
    flex: 1;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
}

#daily_spending_trend_graph{
    height: 22rem;
    width: 100%
}

#budget_vs_actual_spending_graph{
    height: 22rem;
    width: 100%;
}
/* --------------------BOTTOM-------------------- */

.dashboard-right-bottom{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 2rem;
    border-radius: 5px;
    margin: 0;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
}
#transactions_table{
    height: 18rem;
    overflow: auto;
    width: 100%;
    color:white;
}

#transactions_table th{
    background-color: #1e2130;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

#transactions_table td{
    background-color: #1e2130;
    padding: 5px;
}

.dashboard-left-bottom, .dashboard-left-top {
    /* flex: 1; */
}

.dashboard-left-side, .dashboard-right-side {
    align-items: stretch;
    flex-grow: 1; 
}
