.settings-page{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    width: calc(100vw-260px);
    height: auto;
    padding: 2rem;
    color: white;
}

.settings-page h1{
    opacity: 0.8;
    margin:0;
}

.settings-page h2{
    margin:1rem 0;
}

.settings-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:0;
    max-width: 20rem;
}

.settings-profile label{
    margin-right: 1rem;
}

.settings-profile-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

#profile_name,
#profile_email{
    /* width: 100%; */
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:.5rem;
}

.settings-profile button{
    margin-top: .5rem;
    box-sizing: border-box;
    background-color: #0f3460;
    color: white;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
    width: 12rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/* .settings-profile input{
    width: 10rem;
    border: none;
    outline: none;
} */

.settings{
    width: auto;
    height: auto;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin:0;
    padding:2rem;
}

.settings h1{
    margin:0;
}
