.settings-page{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100vw-260px);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin:0;
    padding: 3rem 6rem 6rem 6rem;
    background-color: #f1f4fb;
    color: black;
}

.settings h1{
    margin:0;
    padding: 0 0 1rem 0;
    font-weight: 800;
}

.settings-profile,
.settings-password{
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin:0 1rem;
    box-sizing: border-box;
}

.settings-delete{
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin: 0 1rem;
    justify-content: flex-start;
}

.settings-delete button{
    border:none;
    outline: none;
    padding: 13px;
    border-radius: 5px;
    background-color: #ad0001;
    width: 100%;
    color: white;
    font-size: .8rem;
    font-weight: 700;
}

.settings-profile h2,
.settings-password h2,
.settings-delete h2{
    margin:0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.settings-profile h3,
.settings-password h3{
    font-size: 1rem;
    font-weight: 500;
    margin:0;
    margin-bottom:0.1rem;
    color: black;
}

#profile_name,
#profile_email,
#new_password,
#confirm_new_password{
    width: auto;
    outline: none;
    border: 2px #c7c7c7 solid;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom:1rem;
}

.settings-container{
    display: flex;
    background: white;
    border-radius: 5px;
    padding:3rem 2rem 4rem 2rem;
    box-shadow: 0 0 100px 1px rgba(0, 0, 0, 0.2);

}

.settings-profile button,
.settings-password button{
    margin: 1rem 0 0 0;
    box-sizing: border-box;
    /* background-color: #0f3460; */
    color: black;
    display: block;
    padding: 13px;
    border-radius: 3px;
    outline: none;
    font-size: .8rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: solid 1px black;
}

.settings-border-lines{
    margin: 0 .5rem;
    height:100%;
    border-left: 2px rgba(0,0,0,.2) solid;
}

.settings-art{
    position: absolute;
    top: 8%;
    right: 140px;
    width: 18%;
}

.settings P{
    margin-bottom: 2rem;
    font-weight: 500;
    opacity: .9;
}

#delete_status{
    font-weight: 500;
    opacity: .9;
}

.settings-confirm-delete{
    width: 100%;
    height: 100%;
     display: flex;
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

#confirm_password{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 2px #c7c7c7 solid;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom:1rem;
}

.settings-confirm-delete h3{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom:0.1rem;
    color: black;
}