.spendings-page{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    height: auto;
    padding: 2rem;
    color: white;
}

/* -----------------------------------TOP HALF----------------------------------- */

.spendings-top{
    display: flex;
    flex-direction: row;
    margin-bottom:2rem;
}

/* -----------------------------------ADD TRANSACTION----------------------------------- */

.spendings-add-transaction{
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;    
    height: auto;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
}

.spendings-input{
    box-sizing: border-box;
    display: flex;
    padding: 0px 14.5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-bottom: rgb(194, 194, 194) solid 2px;
    color: #c7c7c7;
    outline: none;
    font-size: 15px;
    font-weight: 500;
}

.spendings-input h2{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .8px;
}

.spendings-page h1{
    opacity: 0.8;
}

/* --------------------INPUT FIELD-------------------- */

.spendings-input input{
    background-color: #1e2130;
    color: #c7c7c7;
    border: none;
    outline: none;
    width: 70%;
    height: auto;
    text-align: right;
}

.spendings-input input::placeholder{
    color: #c7c7c7;
}

/* --------------------DROP DOWN-------------------- */

.spendings-input .Select-control {
    color: #c7c7c7;
    background-color: #1e2130 !important;
    border: 1px rgba(43, 47, 66, 0.8) solid !important;
    width: 10rem !important;
    text-align: left;
}

/* Styling for the placeholder and the value when not selected */
.spendings-input .Select-placeholder,
.spendings-input .Select-value,
.spendings-input .Select-input {
    color: #c7c7c7 !important;
}

/* Styling for text when an option is selected */
.spendings-input .Select-value-label,
.spendings-input .Select-control .Select-value,
.spendings-input .Select-single > .Select-control .Select-value {
    color: #c7c7c7 !important;
}

/* Ensure the dropdown menu matches the styling */
.spendings-input .Select-menu-outer {
    background-color: #1e2130;
    color: #c7c7c7 !important;
}

/* --------------------Date Picker Single-------------------- */

.spendings-input .DateInput, .DateInput_input {
    background-color: #1e2130 !important; 
    color: #c7c7c7 !important;
    border: none !important; 
    outline: none !important;
    font-size: 15px;
    font-weight: 500;
    width: auto;
    margin: 0;
    padding: 5px;
}

.spendings-input .DateInput_input:focus {
    border-color: #3498db !important; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5) !important;
}

.spendings-input .DateInput_input:hover {
    border-color: #1e2130 !important;
}

.spendings-add-transaction button{
    box-sizing: border-box;
    background-color: #0f3460;
    color: white;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top:1rem;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/* -----------------------------------MANAGE BUDGET----------------------------------- */

.spendings-manage-budget{
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;    
    height: auto;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
}

.spendings-manage{
    display: flex;
    flex-direction: column;
}