.spendings-page{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100vw-260px);
    align-self: center;
    justify-content: center;
    height: 100vh;
}

.spendings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    padding: 3rem 6rem 6rem 6rem;
    background-color: #f1f4fb;
    color: black;
    border-radius: 10px;
}


.spendings h1{
    margin:0;
    padding: 0 0 .5rem 0;
    font-weight: 800;
}

.spendings h2{
    margin:0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.spendings h3{
    font-size: 1rem;
    font-weight: 500;
    margin:0;
    margin-bottom:0.1rem;
    color: black;
}
/* -----------------------------------TOP HALF----------------------------------- */

.spendings-top,
.spendings-bottom{
    display: flex;
    justify-content: center;
    margin-bottom:1.5rem;
    width: auto;
    height:auto;
    background-color: white;
    padding:3rem;
    color: black;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
}

/* -----------------------------------ADD TRANSACTION----------------------------------- */

.spendings-add-transaction,
.spendings-manage-budget,
.spendings-budget-overview,
.spendings-bottom-right{
    margin:0 1rem;
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;    
    height: auto;
}

.spendings-input,
.spendings-manage-option,
.spendings-bottom-bottom{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    border: none;
    outline: none;
    margin-bottom: 1rem;
}

#input_date .DateInput{
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 12rem;
    padding:0;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border-radius: 5px;
}

#input_date .DateInput input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 14px;
    margin:0;
    padding:0;
}

#input_date .DateInput_input{
    border: 1px #c7c7c7 solid;
    border-radius: 2px;
    padding:0.25rem 0.5rem;
    margin:0;
}

#monthly_budget_status{
    margin-top:1rem;
}
/* --------------------INPUT FIELD-------------------- */

#input_amount,
#input_description,
#input_total_budget
#budget_category_input{
    width: 12rem;
    outline: none;
    border: 2px #c7c7c7 solid;
    border-radius: 5px;
    padding: .5rem;
    box-sizing: border-box;
}

.spendings-input input::placeholder,
.spendings-manage-option input::placeholder{
    color: #c7c7c7;
}

/* --------------------DROP DOWN-------------------- */
.spendings-manage-option .Select-control,
.spendings-input .Select-control,
.spendings-bottom-top .Select-control{
    color: black;
    /* background-color: #1e2130 !important; */
    border: 2px #c7c7c7 solid !important;
    width: 12rem !important;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

/* Styling for the placeholder and the value when not selected */
.spendings-manage-option .Select-placeholder,
.spendings-manage-option .Select-value,
.spendings-manage-option .Select-input,
.spendings-bottom-top .Select-placeholder,
.spendings-bottom-top .Select-value,
.spendings-bottom-top .Select-input,
.spendings-input .Select-placeholder,
.spendings-input .Select-value,
.spendings-input .Select-input{
    color: #c7c7c7 !important;
}

/* Styling for text when an option is selected */
.spendings-manage-option .Select-value-label,
.spendings-manage-option .Select-control .Select-value,
.spendings-manage-option .Select-single > .Select-control .Select-value,

.spendings-bottom-top .Select-value-label,
.spendings-bottom-top .Select-control .Select-value,
.spendings-bottom-top .Select-single > .Select-control .Select-value,

.spendings-input .Select-value-label,
.spendings-input .Select-control .Select-value,
.spendings-input .Select-single > .Select-control .Select-value {
    color: #c7c7c7 !important;
}

/* Ensure the dropdown menu matches the styling */
.spendings-manage-option .Select-menu-outer,
.spendings-bottom-top .Select-menu-outer,

.spendings-input .Select-menu-outer {
    /* background-color: #1e2130; */
    color: #c7c7c7 !important;
}

/* --------------------Date Picker Single-------------------- */

.spendings-add-transaction button,
.spendings-manage-budget button{
    margin: 1rem 0 0 0;
    box-sizing: border-box;
    color: black;
    display: block;
    padding: 13px;
    border-radius: 3px;
    outline: none;
    font-size: .8rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: solid 1px black;
}

/* -----------------------------------MANAGE BUDGET----------------------------------- */

.spendings-manage-confirm{
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #0f3460; */
    font-size: 16px;
    font-weight: 600;
    color: white;
}
/* -----------------------------------BOTTOM HALF----------------------------------- */

/* -----------------------------------BUDGET OVERVIEW----------------------------------- */

#budget_table {
    width: 18vw;
    box-sizing: border-box;
    height: auto;
    color: black;
    margin:0;
    padding:0;
}

#budget_table th{
    /* background-color: #1e2130; */
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

#budget_table td{
    /* background-color: #1e2130; */
    padding: 5px;
}

.spendings-budget-allocation{
    margin-top: 1rem;
    /* background-color: white; */
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    /* margin-bottom: 1rem; */
}

.spendings-bottom-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.spendings-bottom-top{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spendings-buttom-bottom-btn{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.spendings-buttom-bottom-btn button{
    box-sizing: border-box;
    background-color: #0f3460;
    color: white;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
    width: 12rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.spendings-category-message{
    margin-top: 1rem;
    font-size: 15px;
    font-size: 500;
}

.spendings-transaction-status-message{
    margin:0;
    font-size: 15px;
    font-size: 500;   
}

.spendings-budget-status-message{
    margin:0;
    font-size: 15px;
    font-size: 500;   
}