.background {
    background-color: #1e2130;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    font-family: 'Lexend', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.dashboard{
    width: 100%;
    max-width: 80%;
    flex-direction: column;
    background-color: #1e2130;
    color: white;
    padding: 20px;
}

.header{
    font-weight: 600;
    font-size: 30px;
    padding: 10px 0;
    display: flex; /* row by default */
    align-items: center;
    justify-content: left;
    width: 100%;
    /* border-bottom: 2px solid red; */
}

.button{
    display: flex;
    width: 100%;
    height: auto;
}

.button button{
    flex: 1;
    cursor: pointer;
    padding: 10px 15px; /* 10 is for top and bottom, 15 is for left and right */
    font-size: 16px;
    font-weight: 400;
    background-color: #151a28;
    color: white;
    border: none; 
    margin-bottom: 8px;
}

.button button:first-child{
    margin-right: 8px;
}


.dropdown {
    width: 100%;
}

.dataContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background-color: gray; */
}

.dataContainer:first-child{
    margin-right:10px;
}

.dataContainer2{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 70%;
}

.dataTitle{
    font-size: 16px;
    font-weight: 400;
}

.section3{
    background-color: #151a28;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.section5{
    display: flex;
    flex-direction: row;
    background-color: red;
}

