/* -----------------------------------UNIVERSAL CSS----------------------------------- */

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


.background {
    background-color: #151a28;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100vw;
    height: auto;
    font-family: 'Lexend', sans-serif;
}

/* -----------------------------------WELCOME PAGE----------------------------------- */
.sign-in-background{
    width: 100vw;
    background-color: rgb(70, 139, 204);
}

.welcome{
    width: 100vw;
    height: auto;
}

.welcome-nav-background{
    background-color: #151a28;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-nav{
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;
}

.welcome-logo{
    width:100%;
    height:auto;
    color: white;
}

.welcome-content-background{
    background-color: rgb(70, 139, 204);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-content{
    height: auto;
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.welcome-text{
    flex: 1;
    padding: 30px 0px;
}

.welcome-image{
    flex: 1;
}

.sign-in-btn{
    font-size: 15px;
    color: white;
    /* background-color: gray; */
    width: 5rem;
    height: auto;
    border-radius: 10px;
    padding: 11px 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: white 2px solid;
}

.sign-up-btn{
    color: #151a28;
    background-color: rgb(9, 180, 9);
    width: 14rem;
    height: auto;
    padding: 11px 8px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(9, 180, 9) 2px solid;
    font-size: 15px;
}















.sidebar{
    width:15%;
    background: #1e2130;
    display:flex;
    flex-direction: column;
}

.logo{
    width:100%;
    height:auto;
    padding: 30px 10px;
    /* background-color: gray; */
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* .sidebarOptions{
    width: 100%;
    background-color: 2a2d37;
} */

.tab {
    background-color: #1e2130;
    padding: 30px 10px;
    /* border-bottom: 1px black solid; */
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.tab:hover{
    background-color: #2d2f3a;
}

.tab.active{
    background-color: #0d0f16;
}

.dashboard{
    width: 100%;
    max-width: 85%;
    flex-direction: column;
    background-color: #0d0f16;
    color: white;
    padding: 20px;
}

.header{
    font-weight: 600;
    font-size: 30px;
    padding: 10px 0;
    display: flex; /* row by default */
    align-items: center;
    justify-content: left;
    width: 100%;
    /* background-color: gray; */
}

.selectYearandMonth{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.selectYearandMonth H4{
    font-size: 16px;
    margin-right: 10px;
    font-weight: 400;
    flex-shrink: 0;
}

.dropdownYear{
    color: black;
    width: 100px;
    margin-right: 5px;
}

.dropdownMonth {
    color: black;
    width: 130px;
}

.button{
    display: flex;
    width: 100%;
    height: auto;
}

.button button{
    flex: 1;
    cursor: pointer;
    padding: 10px 15px; /* 10 is for top and bottom, 15 is for left and right */
    font-size: 16px;
    font-weight: 400;
    background-color: #1e2130;
    color: white;
    border: none; 
    margin-bottom: 8px;
}

.button button:first-child{
    margin-right: 8px;
}

.dataContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    /* background-color: gray; */
}

.dataTitle{
    font-size: 16px;
    font-weight: 400;
}

.section3{
    background-color: #1e2130;
    padding: 0 20px;
    padding-bottom: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-right: 10px;
}

.financial-overview{
    margin-bottom: 30px;
}

.outputBox{
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: solid #eeeee7;
    color: #f8d44c;
    height: auto;
    padding: 20px 0;
}

.netBalanceOutput{
    font-size: 80px;
    font-weight: 700;
}

.statusOutput{
    font-size: 48px;
    font-weight: 700;
}

.dataContainer2{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.section4{ /* consists of the daily spending trend and budge v actual */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
    width: 100%;
}

.daily-spending-trend{
    padding: 0 20px;
    padding-bottom: 20px;
    flex: 1;
    margin-right: 10px;
    background-color: #1e2130;
}

.budget-vs-actual-spending{
    padding: 0 20px;
    padding-bottom: 20px;
    flex: 1;
    background-color: #1e2130;
}

.section5{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1e2130;
    padding: 0 20px;
    padding-bottom: 20px;
}

.section4, .section5 {
    flex: 1; /* Flex grow to take up available space in dataContainer2 equally */
    /* padding: 20px; */
}

.section3, .dataContainer2 {
    align-items: stretch; /* Align items to stretch to fill the container */
    flex-grow: 1; /* Allow the containers to grow as needed */
}
