.background {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    font-family: 'Lexend', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.dashboard{
    width: 100%;
    max-width: 80%;
    flex-direction: column;
    background-color: #212121;
    color: white;
    /* padding: 20px; */
}

.header{
    font-weight: 600;
    font-size: 30px;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dropdown {
    width: 50%;
}